<!DOCTYPE html>
<html>
<head>
    <title>批量执行结果</title>
    <link rel="stylesheet" href="/static/css/1.css">
    <script type="text/script" src="/static/js/common/jquery-3.4.1.min.js"></script>
    <script type="text/script" scr="/static/js/private/a.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/plugins/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/easyui/demo/demo.css">
    <script type="text/javascript" src="/static/plugins/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/plugins/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>

<body style="font-size: 12px;">
<div id="navone">
<ul id="ulone" style="font-size: 15px">
    <li id="lione"><a href="./a.html">请求</a></li>
    <li id="lione"><a href="./b.html">接口列表</a></li>
    <li id="lione"><a href="./c.html">请求结果</a></li>
    <li id="lione"><a href="./d.html">批量执行结果</a></li>
</ul>
</div>
{#<div class="resultclass">#}
{#	<textarea class="resultdata" placeholder="暂无数据" name="responseresult" onchange="showresult()" readonly="readonly">{{result}}</textarea>#}
{#</div>#}
<div>
    <table title="批量执行结果浏览" style="width:700px;height:250px" data-options="
        url:'/dealallrequests/',
        method:'POST',
        rownumbers:true,
        idField:'id',
        treeField:'name'
        ">
        <thead>
            <tr>
                <th data-options="field:executeName" width="220">接口名称</th>
                <th data-options="field:executeDate" width="220">执行日期</th>
                <th data-options="field:executeResult" width="100">执行结果</th>
            </tr>
        </thead>
    </table>
</div>
</body>
</html>
